@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body{
    background-color: #0B0B0B;
}


.container{
    max-width: 1440px;
    padding: 20px 100px 100px 100px;
    margin: 0 auto;
    /* min-height: 65vh */
    min-height: calc(100vh - 200px);
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 20px 50px 50px 50px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 20px 30px 50px 30px;
    }
}
/* navbar */

nav {
    position: sticky;
    z-index: 100;
    top: 0;
    background: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav .wrapper-nav {
    position: relative;
    max-width: 1440px;
    padding: 20px 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-nav .nav-links {
    display: inline-flex;
    gap: 30px;
    align-items: center;
}

.wrapper-nav .nav-links .active {
    color: #00FF01;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-right {
    display: none;
}

@media only screen and (max-width: 900px) {
    nav .wrapper-nav {
        padding: 10px 50px;
    }

    .wrapper-nav .nav-links {
        gap: 10px;
    }
}

.nav-links li {
    list-style: none;
}

.nav-profile, .nav-profile-list {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #FFCCCC;
    color: #E82424;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nav-links li a {
    color: #797979;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.2s ease;
}

.nav-links li a:hover {
    color: #00FF01;
}

.wrapper-nav .btn {
    cursor: pointer;
    display: none;
}

.wrapper-nav .btn.close-btn-nav {
    position: absolute;
    left: 15px;
    top: 10px;
    color: #00FF01;
    font-size: 18px;
}

nav .logo-img {
    display: block;
}

@media only screen and (max-width: 800px) {
    .nav-profile-list{
        display: none;
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 20px;
    }

    nav .wrapper-nav {
        padding: 10px 30px;
    }

    nav .wrapper-nav .logo {
        max-width: 80px;
    }

    .wrapper-nav .btn {
        display: flex;
    }

    .wrapper-nav .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 200px;
        top: 0;
        right: -100%;
        background: #000;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    #menu-btn-nav:checked~.nav-links {
        right: 0%;
    }

    #menu-btn-nav:checked~.btn.menu-btn-nav {
        display: none;
    }

    #close-btn-nav:checked~.btn.menu-btn-nav {
        display: block;
    }

    .nav-links li, .nav-links li button {
        margin: 15px 10px;
    }

    .nav-links li a, .nav-links li button {
        padding: 0 20px;
        display: block;
        font-size: 18px;
    }
    
    .nav-links li button{
        width: 100%;
        padding: 5px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

nav input {
    display: none;
}

/* end navbar */

/* header */
.bg-head{
    width: 100%;
    position: relative;
}
/* end header */

.run-text{
    color: white;
    background-color: #000;
    padding: 10px 0;
    margin-top: -10px;
}

@media only screen and (max-width: 500px) {
    .run-text{
        font-size: 12px;
    }
}

/* tentang */
#tentang{
    display: flex;
    margin-top: 82px;
    gap: 20px;
}

.con-tentang img{
    border-radius: 20px;
}

.title-tentang{
    color: #00FF01;
    font-size: 26px;
    font-weight: 600;
}

.text-desc-tentang{
    color: white;
    font-size: 22px;
    width: 100%;
    margin-top: 14px;
}

@media only screen and (max-width: 1000px) {
    #tentang{
        display: flex;
        flex-direction: column;
    }

    .con-tentang img{
        width: 100%;
    }

    .title-tentang{
        text-align: center;
    }

    .text-desc-tentang{
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    #tentang{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    #tentang{
        display: flex;
        flex-direction: column;
        margin-top: 52px;
    }

    .con-tentang img{
        border-radius: 10px;
    }

    .text-desc-tentang{
        font-size: 16px;
    }

    .title-tentang{
        font-size: 20px;
    }
}
/* end tentang */

/* layanan */
#layanan{
    margin-top: 82px;
}

.title-layanan{
    font-size: 24px;
    font-weight: 600;
    color: #00FF01;
    text-align: center;
}

.con-layanan{
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.card-layanan{
    background-color: #181818;
    border-radius: 20px;
    padding: 30px;
}

.card-layanan:hover{
    transform: translateY(-5px);
    transition: 0.2s;
    box-shadow: 0 5px 20px #00ff0088;
}

.icon-layanan{
    color: #00FF01;
    font-size: 60px;
    align-items: center;
}

.desc-layanan{
    color: white;
    font-size: 22px;
    margin-top: 24px;
}

@media only screen and (max-width: 1000px) {
    .con-layanan{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .con-layanan{
        display: flex;
        flex-direction: column;
    }

    .card-layanan{
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    #layanan{
        margin-top: 52px;
    }

    .desc-layanan{
        font-size: 16px;
    }

    .title-layanan{
        font-size: 20px;
    }

    .icon-layanan{
        font-size: 40px;
    }

    .card-layanan{
        text-align: center;
    }
}


/* end layanan */

/* galeri */
#galeri{
    margin-top: 82px;
}

.title-galeri{
    font-size: 24px;
    font-weight: 600;
    color: #00FF01;
    text-align: center;
}

.con-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 32px;
}

.con-image img{
    border-radius: 20px;
    width: 100%;
}

.con-image img:hover{
    transform: scale(1.01);
    transition: 0.2s;
}

@media only screen and (max-width: 1000px) {
    .con-image{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .con-image{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    #galeri{
        margin-top: 52px;
    }

    .con-image{
        grid-template-columns: 1fr 1fr;
    }

    .con-image img{
        border-radius: 10px;
    }

    .title-galeri{
        font-size: 20px;
    }
}

/* end galeri */

/* layanan */
#kontak{
    margin-top: 82px;
}

.title-kontak{
    font-size: 24px;
    font-weight: 600;
    color: #00FF01;
    text-align: center;
}

.con-kontak{
    display: flex;
    gap: 20px;
    margin-top: 32px;
}

.card-kontak{
    background-color: #181818;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    height: 250px;
}

.card-kontak:hover{
    transform: translateY(-5px);
    transition: 0.2s;
    box-shadow: 0 5px 20px #00ff0088;
}

.icon-kontak{
    color: #00FF01;
    font-size: 60px;
    align-items: center;
}

.icon-ig{
    color: #00FF01;
    font-size: 50px;
    align-items: center;
}

.desc-kontak{
    color: white;
    font-size: 22px;
    margin-top: 24px;
}

.desc-location{
    color: white;
    font-size: 18px;
    margin-top: 24px;
}

@media only screen and (max-width: 1000px) {
    .con-kontak{
        display: flex;
        flex-direction: column;
    }

    .card-kontak{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .con-kontak{
        display: flex;
        flex-direction: column;
    }

    .card-kontak{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #kontak{
        margin-top: 52px;
    }

    .title-kontak{
        font-size: 20px;
    }

    .desc-kontak{
        font-size: 16px;
    }

    .card-kontak{
        border-radius: 10px;
        height: 220px;
        text-align: center;
    }

    .icon-kontak{
        font-size: 40px;
    }

    .icon-ig{
        font-size: 30px;
    }
}
/* end layanan */

/* footer */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Assets/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 20px 100px 20px 100px;
}

footer p {
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

footer a{
    color: #00FF01;
}

.line-footer {
    width: 100%;
    height: 1px;
    background-color: #ffffff52;
    margin: 20px 0;
}

footer .img{
    max-width: 80%;
}

footer .img img{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    footer {
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 500px) {
    footer .img{
        max-width: 50%;
    }

    .line-footer p{
        font-size: 12px;
    }
}

/* end footer */